<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Consulta Paciente</title>
</head>
<body>
    <header>
        <h1 class="p-2">Consulta Paciente</h1>
        <hr>
    </header>
    <form>

        <div class="row mb-3">
            <div class="col w-50">
                <label for="pesquisa-cpf" class="form-label">CPF - Paciente</label>
                <input type="text" class="form-control" id="paciente-cpf-pesquisa" name="pesquisa-cpf" placeholder="">
            </div>

            <div class="col w-25">
                <button class="btn btn-success mt-4" id="btn-pesquisar-cpf">Buscar CPF</button>
            </div>           
        </div><br><hr><br>

        <div class="row mb-3">
            <div class="col">
                <label for="name" class="form-label">Nome:</label>
                <input type="text" class="form-control" id="paciente-nome" name="name">
            </div>
            <div class="col">
                <label for="cpf" class="form-label">CPF:</label>
                <input type="text" class="form-control" id="paciente-cpf" name="cpf">
            </div>
            <div class="col">
                <label for="nascimento" class="form-label">Nascimento:</label>
                <input type="text" class="form-control" id="paciente-nascimento" name="nascimento">
            </div>
        </div><br><hr><br>
        
        <div class="personal mb-3 container-fluid">
            <div class="row mb-3">
                <div class="col">
                    <label for="description" class="form-label">Anotações</label>
                    <textarea class="form-control" id="paciente-anotacoes" name="description"></textarea>
                </div>
            </div><br><hr><br>

            <div class="row mb-3">
                <div class="col">
                    <p>Paciente deve permanecer em isolamento?</p>
                    <input type="radio" class="" name="isolamento" id="paciente-isolamento-sim"> Sim <br>
                    <input type="radio" class="" name="isolamento" id="paciente-isolamento-nao"> Não 
                </div>
                <div class="col">
                    <label for="data-inicio" class="form-label">Início do isolamento</label>
                    <input type="date" class="form-control" id="paciente-inicio-isolamento" name="data-inicio">
                </div>
                <div class="col">
                    <label for="data-fim" class="form-label">Fim do isolamento</label>
                    <input type="date" class="form-control" id="paciente-fim-isolamento" name="data-fim">
                </div>               
            </div><br><hr><br>

            <div class="row mb-3">
                <div class="col">
                    <label for="nome-medico" class="form-label">Nome do Médico:</label>
                    <input type="text" class="form-control" id="paciente-nome-medico" name="nome-medico">
                </div>
                <div class="col">
                    <label for="medico-cpf" class="form-label">CRM:</label>
                    <input type="text" class="form-control" id="paciente-crm-medico" name="medico-cpf">
                </div>
                <div class="col">
                    <label for="atendimento" class="form-label">Data e horário do atendimento:</label>
                    <input type="text" class="form-control" id="paciente-data-atendimento" name="atendimento" placeholder="YYYY-MM-DD HH:MM">
                </div>
            </div>           

        <div class="submit position-relative">
            <br><hr><br>
            <button class="btn btn-success position-absolute start-50 translate-middle mt-3" value="Register" id="paciente-concluir-atendimento">Concluir Atendimento</button>
            <br><br>
        </div>      
    </form>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script  src="../controllers/pacienteAtendimentoController.js"></script>
    
</body>
</html>