
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Home</title>
</head>
<body>
    <br>
    <div class="titles d-flex flex-column align-items-center mb-2">
        <h1>TCC - Senai</h1>  <hr>
        <h2>Integração do sistema de saúde com o transporte público: API para bloqueio do cartão transporte de pessoas em isolamento social</h2> <br>
        <p>Esta aplicação permite cadastrar, consultar, editar e deletar registros de pessoas em sistemas fictícios de saúde pública e do transporte coletivo de passageiros a partir de uma API conectada ao banco de dados NoSQL MongoDB. <br>Conforme as informações presentes nos sistemas, o usuário terá seu acesso ao transporte público permitido ou bloqueado. Para realizar essa verificação, uma página que simula a passagem do cartão transporte foi criada.<br>A API foi desenvolvida para ser executada sobre o Node.js, utilizando as linguagens typescript/javascript e as dependências fetch, mongoose e express.</p>
        <br> 
        <h4>Escolha uma das páginas abaixo</h4>
    </div>
    <br>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div>
            <button class="btn btn-primary" onclick="window.open('./CadastrarUsuario.html')">Cadastrar Usuário</button>
            <button class="btn btn-info" onclick="window.open('./EditarUsuario.html')">Editar Usuário</button>
            <button class="btn btn-dark" onclick="window.open('./Simulacao.html')">Simulação</button>
        </div>
        <br>
        <div>
            <button class="btn btn-primary" onclick="window.open('./CadastrarPaciente.html')">Cadastrar Paciente</button>
            <button class="btn btn-info" onclick="window.open('./EditarPaciente.html')">Editar Paciente</button>
            <button class="btn btn-dark" onclick="window.open('./AtendimentoPaciente.html')">Atendimento Médico</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <script>

    </script>
</body>
</html>